<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false">

  <!-- Raw targets (file/console) are wrapped by AsyncWrapper targets below -->
  <targets>
    <!-- async file wrapper with daily archive -->
    <target xsi:type="AsyncWrapper" name="asyncFile" overflowAction="Discard" queueLimit="50000">
      <target xsi:type="File"
              name="file"
              fileName="/home/txnproc/trace/merchantpos.log"
              layout="${date:format=dd/MM/yyyy HH\:mm\:ss.ffff} | ${level} |${mdlc:CorrelationId:fallback=NO-ID}| ${callsite:className=true} | ${message} | ${exception:format=type,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method:InnerExceptionSeparator= | }"
              archiveFileName="/home/txnproc/trace/merchantpos.{#####}.log"
              archiveAboveSize="104857600"
              archiveNumbering="Sequence"
              concurrentWrites="true"
              keepFileOpen="false" 
              maxArchiveFiles="2"/>
    </target>

    <!-- async console wrapper -->
    <target xsi:type="AsyncWrapper" name="asyncConsole" overflowAction="Block" queueLimit="10000">
      <target xsi:type="Console"
              name="console"
              layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${exception:format=toString}}" />
    </target>
  </targets>

  <!-- Rules -->
  <rules>
    <!-- default: write Info and above to async file and async console -->
    <logger name="*" minLevel="Info" writeTo="asyncFile,asyncConsole" />

    <!-- optionally capture Debug for specific namespaces -->
    <logger name="TransactionProcessing.*" minLevel="Debug" writeTo="asyncFile,asyncConsole" />
  </rules>
</nlog>