<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

  <variable name="logDirectory" value="/home/txnproc/trace" />
  <variable name="layout" value="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

  <targets>
	  <!-- async file wrapper with daily archive -->
	  <target xsi:type="AsyncWrapper" name="asyncFile" overflowAction="Discard" queueLimit="50000">
		  <target xsi:type="File"
		          name="file"
		          fileName="${var:logDirectory}/merchantfilebuilder.log"
		          layout="${var:layout}"
		          archiveFileName="${var:logDirectory}/merchantfilebuilder.{#####}.log"
		          archiveAboveSize="104857600"
		          archiveNumbering="Sequence"
		          concurrentWrites="true"
		          keepFileOpen="false"
		          maxArchiveFiles="2"/>
	  </target>

	  <!-- async console wrapper -->
	  <target xsi:type="AsyncWrapper" name="asyncConsole" overflowAction="Block" queueLimit="10000">
		  <target xsi:type="Console"
		          name="console"
		          layout="${var:layout}" />
	  </target>
  </targets>	
	

  <rules>
    <logger name="Microsoft.*" minlevel="Info" writeTo="console,file" />
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>
