quartz.scheduler.instanceName = Txn Processing Scheduler
quartz.dataSource.JobStore.provider = SqlServer
quartz.dataSource.JobStore.connectionStringName = SchedulerReadModel
quartz.jobStore.useProperties = true
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.performSchemaValidation = false
quartz.serializer.type = json
quartz.jobStore.dataSource = JobStore
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
quartz.plugin.recentHistory.type = Quartz.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartz.Plugins.RecentHistory
quartz.plugin.recentHistory.storeType = Quartz.Plugins.RecentHistory.Impl.InProcExecutionHistoryStore, Quartz.Plugins.RecentHistory
quartz.plugin.timeZoneConverter.type = Quartz.Plugin.TimeZoneConverter.TimeZoneConverterPlugin, Quartz.Plugins.TimeZoneConverter