name: Release

on:
  release:
    types: [published]

jobs:
  build:
    name: "Release"
    env:
        ASPNETCORE_ENVIRONMENT: "Production"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Install NET 9
      uses: actions/setup-dotnet@v4.0.1
      with:
        dotnet-version: '9.0.x'
        
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

    - name: Restore Nuget Packages
      run: |
        dotnet restore TransactionProcessor.HealthChecksUI/TransactionProcessor.HealthChecksUI.sln --source ${{ secrets.PUBLICFEEDURL }} --source ${{ secrets.PRIVATEFEED_URL }}
        dotnet restore TransactionProcessing.SchedulerService/TransactionProcessing.SchedulerService.sln --source ${{ secrets.PUBLICFEEDURL }} --source ${{ secrets.PRIVATEFEED_URL }}

    - name: Build Code
      run: |
        dotnet build TransactionProcessor.HealthChecksUI/TransactionProcessor.HealthChecksUI.sln --configuration Release

    - name: Publish API
      run: |
        dotnet publish "TransactionProcessor.HealthChecksUI/TransactionProcessor.HealthChecksUI/TransactionProcessor.HealthChecksUI.csproj" --configuration Release --output TransactionProcessor.HealthChecksUI/publishOutput -r win-x64 --self-contained
            
    - name: Build Release Package (Health Check UI)
      run: |
         cd /home/runner/work/SupportTools/SupportTools/TransactionProcessor.HealthChecksUI/publishOutput
         zip -r ../healthchecksui.zip ./*
         echo "Zip file created at: $(realpath ../healthchecksui.zip)"
    
    - name: Upload the artifact (Health Check UI)    
      uses: actions/upload-artifact@v4.4.0
      with:
        name: healthchecksui
        path: /home/runner/work/SupportTools/SupportTools/TransactionProcessor.HealthChecksUI/healthchecksui.zip            
        
  deploystaging:
    runs-on: [stagingserver, windows]
    needs: build
    environment: staging
    name: "Deploy to Staging"
    
    steps:
      - name: Download the artifact (Health Check UI) 
        uses: actions/download-artifact@v4.1.8
        with:
          name: healthchecksui

      - name: Remove existing Windows service
        run: |
          $serviceName = "Transaction Processing - Health Checks UI"
          # Check if the service exists
          if (Get-Service -Name $serviceName -ErrorAction SilentlyContinue) {
            Stop-Service -Name $serviceName
            sc.exe delete $serviceName
          }

      - name: Unzip the files
        run: |
          Expand-Archive -Path healthchecksui.zip -DestinationPath "C:\txnproc\transactionprocessing\healthchecksui" -Force
      
      - name: Install as a Windows service
        run: |
          $serviceName = "Transaction Processing - Health Checks UI"
          $servicePath = "C:\txnproc\transactionprocessing\healthchecksui\TransactionProcessor.HealthChecksUI.exe"
                   
          New-Service -Name $serviceName -BinaryPathName $servicePath -Description $serviceName -DisplayName $serviceName -StartupType Automatic
          Start-Service -Name $serviceName     
  
  deployproduction:
    runs-on: [productionserver, windows]
    needs: [build, deploystaging]
    environment: production
    name: "Deploy to Production"
    
    steps:
      - name: Download the artifact (Health Check UI) 
        uses: actions/download-artifact@v4.1.8
        with:
          name: healthchecksui

      - name: Remove existing Windows service
        run: |
          $serviceName = "Transaction Processing - Health Checks UI"
          # Check if the service exists
          if (Get-Service -Name $serviceName -ErrorAction SilentlyContinue) {
            Stop-Service -Name $serviceName
            sc.exe delete $serviceName
          }

      - name: Unzip the files
        run: |
          Expand-Archive -Path healthchecksui.zip -DestinationPath "C:\txnproc\transactionprocessing\healthchecksui" -Force
      
      - name: Install as a Windows service
        run: |
          $serviceName = "Transaction Processing - Health Checks UI"
          $servicePath = "C:\txnproc\transactionprocessing\healthchecksui\TransactionProcessor.HealthChecksUI.exe"
                   
          New-Service -Name $serviceName -BinaryPathName $servicePath -Description $serviceName -DisplayName $serviceName -StartupType Automatic
          Start-Service -Name $serviceName        
